body {
  margin: 0;
  font-family: "Noto Sans Sinhala", sans-serif;
  background-color: #f5f6fa;
  text-align: center;
  padding: 40px;
}

header {
  background-color: #0b2239;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
